@import './../../helper/color.scss';
@import './../../helper/mixin.scss';
.navBar{
    width: 100%;
    background-color: $dark;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    padding: 9px ;
    justify-content: center;
    position: fixed;

    a{
        color: $light;
        text-decoration: none;
        margin: 0 12px 0 12px;
    }
   
}